#App{
  max-width: 1150px;
  margin: 0 auto;
}
nav{
  padding: 20px 0 20px 0;
  background: #0B5345;
  margin: 0 auto;
}
.bookform{
  border: 1px solid #A7A3A3;
  width: 600px;
  margin: 10px auto;
}
.create-form{
  font-size: 24px;
  margin: 40px;
}
.update-form{
  font-size: 24px;
  margin: 40px;
}
.create-button a{
color: #ffffff;
}
form{
  border-radius: 1px;
  margin: 50px;
  padding: 30px;
  width: 500px;
}input{
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
 }
input[type=submit]{
 background: #0B5345;
 color: #ffffff;
 border: none;
 border-radius: 5px;
}
